<html>
<head>
<title>Market Philippines - Health Care products</title>
<style type="text/css">
</style>
</head>
<body>
<br/>
<h3>Hi $customer,</h3>

<h3><i>I just wanted to let you know about this product I found. Take a look!</i></h3>
<table>
	<tr>
		<td>
			<img alt="" src="http://pinoytranspo.zxq.net/mp/PH1280.jpg" width="200" height="200">
			
		</td>
		<td valign="top">
			<h4>Primary Benefits of Ultimate Aloe&trade;:</h4>
			<ul>
				<li>Supports a healthy digestive tract</li>
				<li>Helps to promote normal healing</li>
				<li>Supports a strong immune system</li>
				<li>Helps to promote digestive comfort</li>
			</ul>
			<h4>Php&nbsp;1,500</h4>
		</td>
		<td>
			<img src="http://qrcode.kaywa.com/img.php?s=4&d=http://www.marketphilippines.com.ph/danjosh/sku-PH1280/ultimate-aloe-juice.htm" alt="Ultimate Aloe"  />
		</td>
	</tr>
	<tr>
		<td colspan="3" valign="middle" align="center">
			For Details:&nbsp;<a href="http://www.marketphilippines.com.ph/danjosh/sku-PH1280/ultimate-aloe-juice.htm" target="_blank">Ultimate Aloe</a>
		</td>
	</tr>
	<!-- digestive enzymes -->
	<tr>
		<td>
			<img alt="" src="http://pinoytranspo.zxq.net/mp/PH13005.jpg" width="200" height="200">
			
		</td>
		<td valign="top">
			<h4>Primary Benefits of Isotonix&trade; <br/>Digestive Enzymes with Probiotics: </h4>
			<ul>
				<li>Helps maintain healthy cholesterol levels</li>
				<li>May help ease occasional stomach upset</li>
				<li>Promotes digestion and absorption of nutrients</li>
				<li>Provides enzymes and good bacteria that promote the absorption of nutrients</li>
				<li>Supports a healthy digestive tract</li>
				<li>Supports healthy immune functions</li>
			</ul>
			<h4>Php&nbsp;1,960</h4>
		</td>
		<td>
			<img src="http://qrcode.kaywa.com/img.php?s=4&d=http://www.marketphilippines.com.ph/sku-PH13005/danjosh/isotonix-digestive-enzymes-with_probiotics.htm" alt="Digestive Enzymes"  />
		</td>
	</tr>
	<tr>
		<td colspan="3" valign="middle" align="center">
			For Details:&nbsp;<a href="http://www.marketphilippines.com.ph/sku-PH13005/danjosh/isotonix-digestive-enzymes-with_probiotics.htm" target="_blank">Digestive Enzymes</a>
		</td>
	</tr>
	<!-- fish oil omega 3 -->
	<tr>
		<td>
			<img alt="" src="http://pinoytranspo.zxq.net/mp/PH13850.jpg" width="200" height="200">
			
		</td>
		<td valign="top">
			<h4>Primary Benefits of Essential Omega III Fish Oil with Vitamin E:</h4>
			<ul>
				<li>Helps maintain normal cholesterol levels</li>
				<li>Promotes healthy blood pressure levels</li>
				<li>Helps maintain normal blood flow</li>
				<li>Helps maintain normal triglyceride levels in the blood</li>
				<li>Each daily serving provides 1500 mg of fish oil to supply 450 mg of EPA and 300 mg of DHA</li>
				<li>Promotes overall cardiovascular health</li>
				<li>Helps maintain healthy levels of C-reactive protein</li>
				<li>Promotes a healthy complexion</li>
				<li>Helps enhance mood</li>
			</ul>
			<h4>Php&nbsp;2,500</h4>
		</td>
		<td>
			<img src="http://qrcode.kaywa.com/img.php?s=4&d=http://www.marketphilippines.com.ph/danjosh/sku-PH13850/essential-omega-iii-fish_oil.htm" alt="Omega III Fish Oil"  />
		</td>
	</tr>
	<tr>
		<td colspan="3" valign="middle" align="center">
			For Details:&nbsp;<a href="http://www.marketphilippines.com.ph/danjosh/sku-PH13850/essential-omega-iii-fish_oil.htm" target="_blank">Omega III Fish Oil</a>
		</td>
	</tr>
</table>
<br/><br/>
<center><b>
Emmanuel Nollase |
Distributor - Market Philippines | 15th Floor, Philamlife Tower | 8767 Paseo de Roxas | Makati City, Philippines 1226
</b></center>
<br/><br/>
</body>
</html>