<html>
<head>
<title>Market Philippines - Cosmetics Products</title>
<style type="text/css">
</style>
</head>
<body>
<br/>
<h3>Hi $customer,</h3>

<h3><i>I just wanted to let you know about this product I found. Take a look!</i></h3>
<table>
	<!-- PH301FS -->
	<tr>
		<td>
			<a href="http://www.marketphilippines.com.ph/danjosh/topproducts-PH301FS/motives-look-younger-makeup_setting_spray.htm">
				<img alt="" src="http://pinoytranspo.zxq.net/mp/PH301FS.jpg" width="200" height="200">
			</a>
			
		</td>
		<td valign="top">
			<h3>Motives&trade; Look Younger Makeup Setting Spray</h3>
			<h4>Primary Benefits of Motives&trade; Look Younger Makeup Setting Spray:</h4>
			<ul>
				<li>Helps reduce makeup slippage into pores, lines, wrinkles or scars</li>
				<li>Keeps makeup looking flawless day and night</li>
				<li>Fewer required touchups throughout the day</li>
				<li>Saves up to 50% of makeup usage</li>
			</ul>
			<h4>Php&nbsp;1,435.00</h4>
		</td>
		<td>
			<img src="http://qrcode.kaywa.com/img.php?s=4&d=http://www.marketphilippines.com.ph/danjosh/topproducts-PH301FS/motives-look-younger-makeup_setting_spray.htm" alt=""  />
		</td>
	</tr>
	<tr>
		<td colspan="3" valign="middle" align="center">
			For Details:&nbsp;<a href="http://www.marketphilippines.com.ph/danjosh/topproducts-PH301FS/motives-look-younger-makeup_setting_spray.htm" target="_blank">Look Younger Makeup Setting Spray</a>
		</td>
	</tr>
	<!-- PH300FP -->
	<tr>
		<td>
			<a href="http://www.marketphilippines.com.ph/danjosh/topproducts-PH300FP/motives-perfecting-face-primer.htm">
				<img alt="" src="http://pinoytranspo.zxq.net/mp/PH300FP.jpg" width="200" height="200">
			</a>
			
		</td>
		<td valign="top">
			<h3>Motives&trade; Perfecting Face Primer</h3>
			<h4>Primary Benefits of Motives&trade; Perfecting Face Primer:</h4>
			<ul>
				<li>Creates a barrier between your skin and the foundation</li>
				<li>Evens out skin tone</li>
				<li>Helps your makeup stay on longer</li>
				<li>Absorbs oil with salicylic acid</li>
			</ul>
			<h4>Php&nbsp;1,150.00</h4>
		</td>
		<td>
			<img src="http://qrcode.kaywa.com/img.php?s=4&d=http://www.marketphilippines.com.ph/danjosh/topproducts-PH300FP/motives-perfecting-face-primer.htm" alt=""  />
		</td>
	</tr>
	<tr>
		<td colspan="3" valign="middle" align="center">
			For Details:&nbsp;<a href="http://www.marketphilippines.com.ph/danjosh/topproducts-PH300FP/motives-perfecting-face-primer.htm" target="_blank">Perfecting Face Primer</a>
		</td>
	</tr>
	<!-- PH01MEMR -->
	<tr>
		<td>
			<a href="http://www.marketphilippines.com.ph/danjosh/topproducts-PH01MEMR/motives-gentle-eye-makeup_remover.htm">
				<img alt="" src="http://pinoytranspo.zxq.net/mp/PH01MEMR.jpg" width="200" height="200">
			</a>
			
		</td>
		<td valign="top">
			<h3>Motives&trade; Gentle Eye Makeup Remover</h3>
			<h4>Primary Benefits of Motives&trade; Gentle Eye Makeup Remover:</h4>
			<ul>
				<li>Removes makeup quickly and easily</li>
				<li>Formulated for gentle removal of makeup without irritation</li>
				<li>Ideal for contact lens wearers</li>
			</ul>
			<h4>Php&nbsp;730.00</h4>
		</td>
		<td>
			<img src="http://qrcode.kaywa.com/img.php?s=4&d=http://www.marketphilippines.com.ph/danjosh/topproducts-PH01MEMR/motives-gentle-eye-makeup_remover.htm" alt=""  />
		</td>
	</tr>
	<tr>
		<td colspan="3" valign="middle" align="center">
			For Details:&nbsp;<a href="http://www.marketphilippines.com.ph/danjosh/topproducts-PH01MEMR/motives-gentle-eye-makeup_remover.htm" target="_blank">Gentle Eye Makeup Remover</a>
		</td>
	</tr>
			
</table>
<br/><br/>
<center><a href="http://www.marketphilippines.com.ph/danjosh/categories-105/cosmetics.htm" target="_blank"><h3>For More Cosmetics Products</h3></a></center>
<br/><br/>
<center><b>
Emmanuel Nollase |
Distributor - Market Philippines | 15th Floor, Philamlife Tower | 8767 Paseo de Roxas | Makati City, Philippines 1226
</b></center>
<br/><br/>
</body>
</html>